{% extends "core/layout.html"%}
{%block content%}
{% load static%}
{% include "core/includes/any.html" %}
<html>
<head>
    </head>
<body>


<script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>

<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", 162341040, {expanded: "1",tooltipButtonText: "Есть вопрос?"});
</script>


<script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 1, color2: 'B20EE4', color3: 'B60AD0'}, 162341040);
</script>
</body>
<footer>
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d21384260.87719372!2d-2.0419117717589486!3d49.13634443071387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sby!4v1519138804744" width="1024" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</footer>
</html>
{% endblock %}